<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:amq="http://activemq.org/config/1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 http://activemq.org/config/1.0 http://activemq.apache.org/schema/core/activemq-core-5.0.0.xsd">

	<description>Apache ActiveMQ 配置</description>

	<!-- Spring Caching 连接工厂 -->
	<bean id="cachingConnectionFactory"
		class="org.springframework.jms.connection.CachingConnectionFactory">
		<property name="targetConnectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL" value="${jms.broker_url}" />
			</bean>
		</property>
		<property name="sessionCacheSize" value="10" />
	</bean>

	<!-- Spring JMS Template -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="cachingConnectionFactory" />
		<property name="explicitQosEnabled" value="true" />
		<!-- 使 deliveryMode, priority, timeToLive设置生效-->
		<!-- <property name="explicitQosEnabled" value="true" /> -->
		<!-- 设置NON_PERSISTENT模式, 默认为PERSISTENT -->
		<!-- <property name="deliveryPersistent" value="false" /> -->
		<!-- 设置优先级, 默认为4 -->
		<!-- <property name="priority" value="9" /> -->
	</bean>

	
	<!-- smsQueue定义 -->
	<bean id="smsQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="FirstQueue" />
	</bean>

	<!-- smsMessageProducer定义 -->
	<bean id="smsMessageProducer" class="com.li.jms.MessageProducer">
		<property name="jmsTemplate" ref="jmsTemplate" />
		<property name="smsQueue" ref="smsQueue" />
	</bean>

	<!-- smsMessageListener定义 -->
	<bean id="smsMessageListener" class="com.li.jms.MyMessageListener"></bean>

	<!-- 异步接收sms消息Container -->
	<bean id="smsQueueContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="cachingConnectionFactory" />
		<property name="destination" ref="smsQueue" />
		<property name="messageListener" ref="smsMessageListener" />
		<property name="concurrentConsumers" value="10" />
		<!-- <property name="maxConcurrentConsumers" value="10" />-->
		<!-- 设置消息确认模式为Client -->
		<property name="sessionAcknowledgeModeName" value="CLIENT_ACKNOWLEDGE" />
		<!--  -->
		<property name="sessionTransacted" value="true" />
	</bean>

</beans>